<div class="menu">
  <div class="menu-el">
    <a href="/">
      <span class="material-symbols-rounded"> home </span>
      <p>Home</p>
    </a>
  </div>
  <div class="menu-el">
    <a href="/chat">
      <span class="material-symbols-rounded"> forum </span>
      <p>Chat</p>
    </a>
  </div>
  <div class="menu-el">
    <a href="/files">
        <span class="material-symbols-rounded">
            description
            </span>
      <p>Files</p>
    </a>
  </div>
</div>
<script src="/js/menu.js"></script>
