<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
<!-- liste des messages -->    
        <form action="/chat/messages" method="post">
        <input type="text" name="content" required placeholder="Votre message">
        <input type="hidden" name="author" value="65492dd419dc6c72f648b3d2">
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>