<!DOCTYPE html>
<html>
  <head>
    <title>Connexion</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <%- include('./partials/header'); %>
  <div class="container chat">
    <div class="chat-messages">
      <div class="others">
        <div class="message">
          <div class="delete">
            <button><span class="material-symbols-rounded"> close </span></button>
          </div>
            <h2>Auteur</h2>
            <p>Message</p>
        </div>
        
      </div>
      <div class="mine">
        <div class="message">
          <div class="delete">
            <form action="">
            <button><span class="material-symbols-rounded"> close </span></button>
          </form>
          </div>
            <h2>Auteur</h2>
            <p>Messageas kldsafj kldjfkla kjad kfjjdaf hkjdafh jdkahfjkadh sfjadhs </p>
      </div>
    </div>
    <form class="send" action="/chat/messages" method="post">
      <input type="text" name="content" required placeholder="Votre message" />
      <input type="hidden" name="author" value="65492dd419dc6c72f648b3d2" />
      <button type="submit"><span class="material-symbols-rounded"> arrow_upward </span></button>
    </form>
  </div>
</html>
