<!DOCTYPE html>
<html>
  <head>
    <title>Files</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Files</h1>
    <ul>
      <% files.forEach(file => { %>
      <li><%= file %></li>
      <% if (user && user.role === 'Administrateur' || 'Editeur' || 'Lecteur') { %>
      <form action="/files/<%= file %>" method="get">
        <button type="submit">Download</button>
      </form>
      <% } %>
      <% if (user && user.role === 'Administrateur' || 'Editeur') { %>
      <form action="/files/delete/<%= file %>" method="get">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">Delete</button>
      </form>
      <% } %>
      <% }); %>
    </ul>
    <% if (user && user.role === 'Administrateur' || 'Editeur') { %>
    <h3>Upload a file</h3>
    <form action="/files" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit">Envoyer</button>
    </form>
    <% } %>
  </body>
</html>
