<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="container index">
      <h2 class="dsc"><strong>Si vous êtes un <span class="animated-text-in" id="an-t-1">pirate informatique</span><span class="animated-text-out" id="an-t-2">intrus</span><span class="animated-text-out" id="an-t-3">cybercriminel</span><span class="animated-text-out" id="an-t-4">cracker</span><span class="animated-text-out" id="an-t-5">bidouilleur</span>, vous n'êtes pas très cool..<span>.</span></strong></h2>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
