<!DOCTYPE html>
<html>
  <head>
    <title>Inscription</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="centered-form">
    <div class="form-container">
      <h1>Inscription</h1>
      <form action="/auth/register" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="input-text">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            class="input-text__input"
            required
          />
          <label for="email" class="input-text__label">Email</label>
        </div>
        <div class="input-text">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Mot de passe"
            class="input-text__input"
            required
          />
          <label for="password" class="input-text__label">Mot de passe</label>
        </div>
        <div class="input-text">
          <input
            type="password"
            name="confirm"
            id="confirm"
            placeholder="Mot de passe"
            class="input-text__input"
            required
          />
          <label for="confirm" class="input-text__label">Confirmer mot de passe</label>
        </div>
        <button type="submit">S'inscrire</button>
      </form>
      <p>Déjà un compte ? <a href="/login">Se connecter</a></p>

    </div>
  </body>
</html>
