* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.centered-form {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  padding: 3rem 2rem;
  background-color: #e3e3e3;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 400px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container h1 {
  color: #242424;
  font-size: 2em;
  text-align: center;
}

.form-container label {
  color: #6b6b6b;
  position: relative;
  top: -37px;
  left: 14px;
  background-color: #e3e3e3;
  padding: 0 0.5rem;
  font-size: 1em;
}
.form-container input {
  width: 100%;
  height: 50px;
  background: none;
  border: solid 1px #6b6b6b;
  border-radius: 1rem;
  outline: none;
  color: #242424;
  font-size: 1em;
  padding-left: 20px;
}
.msgs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 2rem;
}
.form-container input::placeholder {
  color: #e3e3e3;
}
.form-container input:focus {
  border-color: #646cff;
}

.form-container input:focus + label {
  color: #646cff;
  font-size: 0.8em;
  top: -60px;
}
.form-container input:not(:placeholder-shown):not(:focus) {
  border-color: #242424;
}
.form-container input:not(:placeholder-shown):not(:focus) + label {
  color: #242424;
  font-size: 0.8em;
  top: -60px;
}

.form-container button {
  width: 100%;
  height: 50px;
  border-radius: 1rem;
  background-color: #646cff;
  color: #e3e3e3;
  font-size: 1em;
  border: none;
}
.form-container button:hover {
  background-color: #4d4dff;
  cursor: pointer;
}

.form-container p {
  color: #6b6b6b;
  text-align: center;
  font-size: 0.8em;
}
.form-container p a {
  color: #646cff;
  text-decoration: none;
}
.form-container p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu {
  height: 100%;
  width: 150px;
  position: fixed;
  background-color: #242424;
  padding: 5rem 5rem 5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-el a {
  display: flex;
  text-decoration: none;
}
.menu-el {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.menu-el:hover span,
.menu-el:hover p {
  color: #646cff;
}
.menu-el span {
  font-size: 1.5rem;
  color: #e3e3e3;
}
.menu-el p {
  font-size: 1rem;
  margin-left: 1rem;
  color: #e3e3e3;
  line-height: 30px;
}
.menu-el .active span,
.menu-el .active p {
  color: #646cff;
}
.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-left: calc(150px + 2rem);
  height: 100%;
  background-color: #1f1f1f;
}
.chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-messages {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  overflow-x: hidden;
}
.chat-messages .send {
  display: block;
  width: 100%;
  border-top: solid 2px #6b6b6b;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.chat-messages .send input {
  width: calc(100% - 60px);
  height: 50px;
  background: none;
  border: solid 1px #6b6b6b;
  border-radius: 1rem;
  outline: none;
  color: #e3e3e3;
  font-size: 1em;
  padding-left: 20px;
}
.chat-messages .send input:focus {
  border-color: #646cff;
}
.chat-messages .send button {
  width: 45px;
  height: 45px;
  background-color: #353535;
  color: #6b6b6b;
  border: none;
  border-radius: 0.2rem;
}
.chat-messages .send button:hover {
  background-color: #646cff;
  color: #e3e3e3;
  cursor: pointer;
}
.chat-messages .others,
.chat-messages .mine {
  width: 100%;
  display: flex;
}
.chat-messages .others {
  justify-content: flex-start;
}
.chat-messages .mine {
  justify-content: flex-end;
}
.message {
  background-color: #e3e3e3;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 200px;
  max-width: 400px;
}
.message h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #646cff;
  position: relative;
}
.message p {
  position: relative;
}
.delete {
  position: relative;
  top: -25px;
  left: 100%;
}
.delete button {
  height: 30px;
  width: 30px;
  background-color: #a13838;
  border: none;
  border-radius: 10rem;
  color: #e3e3e3;
}
.delete button:hover {
  cursor: pointer;
}
.admin {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
table {
  width: 80%;
  border-collapse: collapse;
}
tr th {
  padding: 1rem;
  text-align: left;
  color: #646cff;
  border-bottom: solid 2px #646cff;
}
tr td {
  background-color: #242424;
  color: #e3e3e3;
  padding: 1rem;
  border-bottom: solid 2rem #1f1f1f;
}
tr {
  border-radius: 1rem;
}
tr select {
  width: 100%;
  height: 50px;
  background: #242424;
  border: solid 1px #6b6b6b;
  border-radius: 1rem;
  outline: none;
  color: #e3e3e3;
  font-size: 1em;
  padding-left: 20px;
}
.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dsc {
  color: #e3e3e3;
  font-size: 4rem;
  text-align: center;
}
.dsc span {
  color: #646cff;
}
.animated-text-in {
	display: inline-block;
  animation: animated-text-in 1s forwards;
}
.animated-text-out {
	display: none;
}
@keyframes animated-text-in {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
  100% {
  	opacity: 1;
    transform: translate3d(0, 0, 0);
	}
}

.container.files {
  color : #ffffff;
}
.container.files button {
  background-color: #646cff;
  color: #ffffff;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.container.files input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #e3e3e3;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 1rem;
  border: solid 1px #e3e3e3;
}

.inputfile + label span {
  margin-right: 20px;
  position: relative;
  top: 3px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #646cff;
  border-color: #646cff;
}

.inputfile + label {
	cursor: pointer;
}
.uploader {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploader form {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.uploader form button {
  width: 100%;
  height: 50px;
  border-radius: 1rem;
  background-color: #e3e3e3;
  color: #646cff;
  border: solid 1px #646cff;
  font-size: 1em;
  border: none;
}
.uploader form button:hover {
  background-color: #646cff;
  border-color: #646cff;
  color: #e3e3e3;
  cursor: pointer;
}

.files-t button {
  height: 50px;
  background: #242424;
  border: solid 1px #6b6b6b;
  border-radius: 1rem;
  outline: none;
  color: #e3e3e3;
  font-size: 1em;
  padding: 1rem 2rem;
}
.files-t button:hover {
  background-color: #646cff;
  border-color: #646cff;
  color: #e3e3e3;
  cursor: pointer;
}

.error p{
  color: #a13838;
  font-size: 0.8rem;
}